@keyframes show {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  .dialogOpen .content {
    opacity: 0.2;
  }
  .dialogOpen .dialog-wrapper {
    visibility: visible;
    animation-name: show;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }
  .dialog-wrapper {
    visibility: collapse;
    opacity: 0;
  }
  .dialog {
    border-width: 1 0 1 0;
    border-color: black;
    width: 100%;
    margin-top: 100;
  }
